*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem ;
}
html{
    font-size:20px ;
}
body{
    background-color: #f2e9e4;
    display: flex;
    flex-direction: column;
}
a{
    color: blueviolet;
}
p{
    width: 60%;
}

.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
#img2{
    display: none;
}
img{
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#backs{
    color: #000;
    text-decoration: none;
}
.back{
    line-height: 50px;
    


}
.back img{
    width: 50px;
    height: 50px;
}

@media (max-width:1300px) {
    p{
        width: 90%;
    }
    html{
        font-size: 16px;
    }
}

@media (max-width:900px) {

    html{
        font-size: 14px;
    }
    #img1{
        display: none;
    }
    #img2{
        display: block;
    }
    
}